# .env.example

# Django Core Settings
SECRET_KEY='django-insecure-fpn3#=(nvx2qwnhnw@37yn)d3(9*pqm0&d#31@h6!!jni2z#rc'
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
# Database Configuration (PostgreSQL)
DB_NAME=bella_vita_wear_db
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5432

# Redis / Celery Configuration
CELERY_BROKER_URL=redis://localhost:6379/0