# --- Virtual Environments ---
venv/
.venv/
env/
bin/
lib/
include/

# --- Python & Cache ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Django Specific ---
db.sqlite3
.env
media/
staticfiles/

# --- macOS Specific ---
.DS_Store

# --- IDE Specific (PyCharm) ---
.idea/